# Obtaining Our Data - Lab

## Introduction
In this lab you'll practice your munging and transforming skills in order to load in your data to solve a regression problem.

## Objectives
You will be able to:
* Understand the ETL process and the steps it consists of
* Understand the challenges of working with data from multiple sources

## Task Description

Your boss gives you a general description of some of the datasets at your disposal for analyzing weekly store sales. They're eventually looking for you to build a model to help determine what factors impact sales, and model future sales forecasting for business planning.  
  
Most of the properietary store data sits in the company sql database, accessible by all managers and above. The database is called **Walmart.db** Your boss provides you with the following basic schema:  

<img src='db_schema.jpg' width=500>  

She then tells you that she's put together a second dataset on general economy statistics for the various dates that she would also like you to incorporate in your analysis. That data, she says, is stored in a file **economy_data.csv**.

As a first step in creating your model for providing recommendations and projections, load and synthesize these disperate datasets into a singular unified DataFrame. Then save your results to a file **Merged_Store_Data.csv**.

Make sure you check the various data types and merge appropriately.

In [1]:
# Your code here
import sqlite3
import pandas as pd

connection = sqlite3.connect('Walmart.db')
cursor = connection.cursor()

economy_data = pd.read_csv('economy_data.csv')

In [2]:
cursor.execute('''SELECT * FROM sales JOIN store_details USING(store);''')
df = pd.DataFrame(cursor.fetchall())
df.columns = [i[0] for i in cursor.description]

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 452192 entries, 0 to 452191
Data columns (total 7 columns):
Store           452192 non-null int64
Dept            452192 non-null int64
Date            452192 non-null object
Weekly_Sales    452192 non-null float64
IsHoliday       452192 non-null object
Type            452192 non-null object
Size            452192 non-null int64
dtypes: float64(1), int64(3), object(3)
memory usage: 24.1+ MB

In [4]:
df.head()

   Store  Dept        Date  Weekly_Sales IsHoliday Type    Size
0      1     1  2010-02-05      24924.50     False    A  151315
1      1     1  2010-02-12      46039.49      True    A  151315
2      1     1  2010-02-19      41595.55     False    A  151315
3      1     1  2010-02-26      19403.54     False    A  151315
4      1     1  2010-03-05      21827.90     False    A  151315

In [5]:
economy_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8190 entries, 0 to 8189
Data columns (total 12 columns):
Store           8190 non-null int64
Date            8190 non-null object
Temperature     8190 non-null float64
Fuel_Price      8190 non-null float64
MarkDown1       4032 non-null float64
MarkDown2       2921 non-null float64
MarkDown3       3613 non-null float64
MarkDown4       3464 non-null float64
MarkDown5       4050 non-null float64
CPI             7605 non-null float64
Unemployment    7605 non-null float64
IsHoliday       8190 non-null bool
dtypes: bool(1), float64(9), int64(1), object(1)
memory usage: 711.9+ KB

In [6]:
economy_data.head()

,Store,Date,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday
0,1,2010-02-05,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False
1,1,2010-02-12,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106,True
2,1,2010-02-19,39.93,2.514,NaN,NaN,NaN,NaN,NaN,211.289143,8.106,False
3,1,2010-02-26,46.63,2.561,NaN,NaN,NaN,NaN,NaN,211.319643,8.106,False
4,1,2010-03-05,46.50,2.625,NaN,NaN,NaN,NaN,NaN,211.350143,8.106,False

In [7]:
merged = df.merge(economy_data, 'outer')

In [12]:
merged.to_csv()

,Store,Dept,Date,Weekly_Sales,IsHoliday,Type,Size,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment
0,1,1.0,2010-02-05,24924.50,False,A,151315.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2.0,2010-02-05,50605.27,False,A,151315.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,3.0,2010-02-05,13740.12,False,A,151315.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,4.0,2010-02-05,39954.04,False,A,151315.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,5.0,2010-02-05,32229.38,False,A,151315.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1,6.0,2010-02-05,5749.03,False,A,151315.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1,7.0,2010-02-05,21084.08,False,A,151315.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1,8.0,2010-02-05,40129.01,False,A,151315.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1,9.0,2010-02-05,16930.99,False,A,151315.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1,10.0,2010-02-05,30721.50,False,A,151315.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,1,11.0,2010-02-05,24213.18,False,A,151315.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,1,12.0,2010-02-05,8449.54,False,A,151315.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,1,13.0,2010-02-05,41969.29,False,A,151315.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,1,14.0,2010-02-05,19466.91,False,A,151315.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,1,16.0,2010-02-05,10217.55,False,A,151315.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,1,17.0,2010-02-05,13223.76,False,A,151315.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,1,18.0,2010-02-05,4729.50,False,A,151315.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,1,19.0,2010-02-05,1947.05,False,A,151315.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,1,20.0,2010-02-05,5034.10,False,A,151315.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,1,21.0,2010-02-05,8907.63,False,A,151315.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,1,22.0,2010-02-05,13623.98,False,A,151315.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,1,23.0,2010-02-05,24146.49,False,A,151315.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,1,24.0,2010-02-05,8272.90,False,A,151315.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,1,25.0,2010-02-05,11609.50,False,A,151315.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,1,26.0,2010-02-05,11737.12,False,A,151315.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,1,27.0,2010-02-05,2293.00,False,A,151315.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,1,28.0,2010-02-05,1085.29,False,A,151315.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,1,29.0,2010-02-05,7024.95,False,A,151315.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,1,30.0,2010-02-05,5491.00,False,A,151315.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,1,31.0,2010-02-05,3455.92,False,A,151315.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
460352,45,NaN,2013-01-04,NaN,False,NaN,NaN,32.87,3.592,1341.33,30325.14,8.93,35.85,3682.17,192.659622,8.625
460353,45,NaN,2013-01-11,NaN,False,NaN,NaN,38.78,3.611,3877.36,15559.85,3.81,152.18,2403.14,192.759980,8.625
460354,45,NaN,2013-01-18,NaN,False,NaN,NaN,41.45,3.605,14746.10,4071.06,4.02,483.58,1467.78,192.809507,8.625
460355,45,NaN,2013-01-25,NaN,False,NaN,NaN,26.49,3.583,3130.28,1362.10,0.20,332.68,1361.74,192.838701,8.625
460356,45,NaN,2013-02-01,NaN,False,NaN,NaN,34.92,3.615,14508.96,1092.53,827.90,26424.02,700.93,192.867895,8.625
460357,45,NaN,2013-02-08,NaN,True,NaN,NaN,28.99,3.753,53311.88,531.33,78.26,24823.94,3233.44,192.897089,8.625
460358,45,NaN,2013-02-15,NaN,False,NaN,NaN,35.87,3.814,9362.02,2017.68,0.36,5012.39,6411.71,192.943471,8.625
460359,45,NaN,2013-02-22,NaN,False,NaN,NaN,31.48,3.859,10781.51,2735.67,23.38,1516.76,3061.21,193.032822,8.625
460360,45,NaN,2013-03-01,NaN,False,NaN,NaN,39.72,3.890,6614.32,147.82,5.60,27.55,1668.95,193.122173,8.625
460361,45,NaN,2013-03-08,NaN,False,NaN,NaN,36.13,3.860,16382.54,88.67,34.62,3096.92,3486.91,193.211524,8.625
460362,45,NaN,2013-03-15,NaN,False,NaN,NaN,42.81,3.834,9867.03,NaN,11.08,912.87,1360.36,193.296277,8.625
460363,45,NaN,2013-03-22,NaN,False,NaN,NaN,36.55,3.800,11923.74,NaN,308.00,1764.47,1647.31,193.369533,8.625
460364,45,NaN,2013-03-29,NaN,False,NaN,NaN,40.68,3.784,5444.00,NaN,350.84,53.90,1722.11,193.442790,8.625
460365,45,NaN,2013-04-05,NaN,False,NaN,NaN,43.94,3.763,16427.83,5341.41,182.59,1523.83,1743.09,193.516047,8.335
460366,45,NaN,2013-04-12,NaN,False,NaN,NaN,57.39,3.724,8760.15,1713.11,21.08,1302.31,1380.74,193.589304,8.335
460367,45,NaN,2013-04-19,NaN,False,NaN,NaN,56.27,3.676,1399.81,39.89,44.38,60.83,1445.05,193.589304,8.335
460368,45,NaN,2013-04-26,NaN,False,NaN,NaN,50.64,3.615,1260.65,NaN,57.52,40.51,2476.18,193.589304,8.335
460369,45,NaN,2013-05-03,NaN,False,NaN,NaN,56.07,3.592,8345.40,6.00,92.96,3580.32,2242.24,NaN,NaN
460370,45,NaN,2013-05-10,NaN,False,NaN,NaN,58.86,3.583,4689.18,440.82,53.09,375.22,5738.20,NaN,NaN
460371,45,NaN,2013-05-17,NaN,False,NaN,NaN,60.59,3.614,4515.35,667.88,6.12,522.70,2541.62,NaN,NaN
460372,45,NaN,2013-05-24,NaN,False,NaN,NaN,67.11,3.627,3249.34,481.82,58.48,1183.23,1309.30,NaN,NaN
460373,45,NaN,2013-05-31,NaN,False,NaN,NaN,65.88,3.646,6474.49,411.38,77.06,9.38,4227.27,NaN,NaN
460374,45,NaN,2013-06-07,NaN,False,NaN,NaN,70.71,3.633,9977.82,744.29,80.00,4825.71,3597.34,NaN,NaN
460375,45,NaN,2013-06-14,NaN,False,NaN,NaN,70.01,3.632,2471.44,517.87,348.54,2612.33,3459.39,NaN,NaN
460376,45,NaN,2013-06-21,NaN,False,NaN,NaN,70.13,3.626,4989.34,385.31,178.56,2463.42,3117.94,NaN,NaN
460377,45,NaN,2013-06-28,NaN,False,NaN,NaN,76.05,3.639,4842.29,975.03,3.00,2449.97,3169.69,NaN,NaN
460378,45,NaN,2013-07-05,NaN,False,NaN,NaN,77.50,3.614,9090.48,2268.58,582.74,5797.47,1514.93,NaN,NaN
460379,45,NaN,2013-07-12,NaN,False,NaN,NaN,79.37,3.614,3789.94,1827.31,85.72,744.84,2150.36,NaN,NaN
460380,45,NaN,2013-07-19,NaN,False,NaN,NaN,82.84,3.737,2961.49,1047.07,204.19,363.00,1059.46,NaN,NaN
460381,45,NaN,2013-07-26,NaN,False,NaN,NaN,76.06,3.804,212.02,851.73,2.06,10.88,1864.57,NaN,NaN

## Summary
Nice work! You're working more and more independently through the workflow, and ensuring data integrity!